colorama==0.4.6
discord
Flask==3.0.2
httpx
licensing==0.43
requests==2.31.0
tls-client==1.0.1
typing_extensions==4.10.0
pymongo
fastapi
websocket-client
uvicorn[standard]
websockets
aiohttp
discord-webhook
discord-py
flask-socketio
aiohttp
aiohttp
colorama
discord-webhook
discord.py
fastapi
Flask
flask-socketio
httpx
licensing
pymongo
requests
tls-client
typing_extensions
uvicorn
websocket-client
websockets